MAILJET_SMTP_HOST=in-v3.mailjet.com
MAILJET_SMTP_PORT=587
MAILJET_SMTP_SECURE=false
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_SECRET_KEY=your_mailjet_secret_key
CONTACT_FROM_EMAIL=verified-sender@yourdomain.com
CONTACT_TO_EMAIL=you@yourdomain.com
